.wrapper{
    width: 100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container{
    width:75%;
    height: 100%;
    /* background-color:red */
    ;
    justify-content: center;
    align-items: center;
}