.container{
    display: flex;
    width: 100%;
    background-color: #ced7cb;
    padding: 20px;
    justify-content: center;
    box-sizing: border-box;
}
.socialIcon{
    margin: 20px;
    cursor: pointer;
    box-sizing: border-box;
}