.wrapper{
    width:100vw;
    background-color:#ced7cb;
    display: flex;
    flex: 1;
    justify-content: center;
    padding:1rem;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.container{
    width: 75%;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color:green */
    ;
}
.heroImage{
    width: 50%;
    /* height: 100%; */
    
    min-width: 300px;
    justify-content: center;
    align-items: center;
}
.heroDiscription{
    width: 50%;
    /* height: 100%; */
    display: flex;
    min-width: 300px;
    justify-content: center;
    flex-direction: column;
    padding : 1rem;
    box-sizing: border-box;

}

.note{
    font-weight: bold;
    color: rgb(42, 42, 42) ;

}
.heading{
    font-weight: 700;
    font-size: 3rem;
    color: rgb(30, 30, 30);
}
.subheading{
  color: rgb(95, 94, 94) ;
  font-size: 1.5rem;
  margin-top: 20px;

}
.tradingBtn{
   border:none;
   display: fit-content;
   background-color:#70d692;
   padding: 20px 40px;
   max-width: fit-content;
   margin-top: 10px;
   font-weight: bolder;
}
.cards{
    display: flex;
    width: 100%;
    /* background-color:red; */
    justify-content: space-around;
    align-items:flex-start;
    margin: 50px;
    flex-wrap: wrap;
    box-sizing: border-box;


}
.card{
    width:25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width:300px;
    /* background-color: yellow; */
    /* align-items: center; */
}
.topic{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(30, 30, 30);
}
@media screen and (max-width: 600px) {
    .container{
        width: 100%;
        /* flex-direction: column; */
    }
    .heroImage{
        width: 100%;
    }
    .heroDiscription{
        width: 100%;
    }
    .cards{
        justify-content: space-around;
        align-items:flex-start;
        margin: 50px;
        flex-wrap: wrap;
      
    
    }
    .card{
        width:25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width:300px;
        justify-content: center;
        align-items: center;
        margin: 30px 0px;
    
        /* align-items: center; */
    }
}
    
