.wrapper{
    width:100vw;
    background-color:#ced7cb;
    display: flex;
    flex: 1;
    justify-content: center;
    padding:1rem;
    box-sizing: border-box;
    overflow: hidden;
}
.container{
    width: 75%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heroImage{
    width: 50%;
    height: 100%;
    /* background-color:red */
    ;
    justify-content: center;
    align-items: center;
}
.heroDiscription{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding : 1rem;
    box-sizing: border-box;

}
.note{
    font-weight: bold;
    color: rgb(42, 42, 42) ;

}
.heading{
    font-weight: 700;
    font-size: 3rem;
    color: rgb(30, 30, 30);
}
.subheading{
  color: rgb(95, 94, 94) ;
  margin-top: 30px;

}
.tradingBtn{
   border:none;
   display: fit-content;
   background-color:#70d692;
   padding: 20px 40px;
   max-width: fit-content;
   margin-top: 10px;
   font-weight: bolder;
}