.flexClass{
    display:flex;
   
}
.colomnClass{
    flex-direction: column;
}
.spanGrow{
    flex:1;
}

.mainContainer{
  /* height:100dvh; */
  display:flex;

  /* background:red; */
}
.somePic{
 width:50%;
   
}
.card{
    width:50%;
    /* background:green; */
    display:flex;
    flex-direction: column;
    
}
.sendPart{
    margin:10px 5px 10px 5px;
    
}
.fromPart {
    margin:10px 5px 10px 5px;

}
.toPart{
    margin:10px 5px 10px 5px;

}
.feeSection{
    margin:10px 5px 10px 5px;
    
}
.recieveSection{
    margin:10px 5px 10px 5px;
}

.sendAmount{
    margin:10px;
}
.sendButton{
    width:50px;
    padding:10px;
    background:rgb(176, 104, 62);
    border-radius: 10px;
    text-align: center;

}