.mainNavCon{
    display:flex;
    margin:5px;
}
.navMenu{
    display:flex;
}
.span1{
    flex:1;
}
.padd{
    padding:0 10px 0 10px;
}
.walletButton{
    background-color:brown;
    padding:5px;
    border-radius: 10px;
    color:white;
}